[Desktop Entry]
Version=1.0
Type=Application
Name=VeraCrypt
GenericName=Disk Encryption Utility
Comment=Launch VeraCrypt from AppImage
Exec=sh -c "$HOME/PortableApps/VeraCrypt-1.26.24-x86_64.AppImage"
Icon=/home/jack/PortableApps/veracrypt.png
Terminal=false
Categories=Utility;Security;
StartupNotify=true

